{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block breadcrumb %}
    <a href="{{ url_for('student.view_courses') }}"> Kursy </a>
    /
    <a href="{{ url_for('student.view_course', course_name = template.lesson.course.name) }}"> {{ template.lesson.course.name }} </a>
    /
    <a href="{{ url_for('student.view_lesson', course_name = template.lesson.course.name, lesson_id = template.lesson.id) }}"> {{ template.lesson.name }} </a>
    /
    <a href="{{ url_for('student.view_exercise', template_id = template.id) }}"> {{ template.name }} </a>
{% endblock %}

{% block app_content %}
    <div><h2>{{ template.name }}</h2></div>
    <div><h1>{{ template.content }}</h1></div>
    <div><h1>Maksymalna liczba prób: {{ template.max_attempts }}</h1></div>
    <div><h1>Termin przesłania zadania: {{ template.end_date }}</h1></div>
    {% if datetime.date() < template.end_date and solutions|length < template.max_attempts %}
        <div class="row">
            <div class="col-md-4">
                {{ wtf.quick_form(form, button_map={'submit_button': 'primary'}) }}
            </div>
        </div>
    {% endif %}
    {% if solutions|length > 0 %}
        <table class="table">
            <thead>
            <th>Plik</th>
            <th>Data wysłania</th>
            <th>Status</th>
            <th>Punkty</th>
            </thead>
            <tbody>
            {% for solution in solutions %}
                <tr class="pointercurs">
                    <td><p>{{ solution.file_path }}</p></td>
                    <td><p>{{ solution.send_date }}</p></td>
                    {% if datetime.date() >= template.end_date %}
                        <td><p>{{ solution.status }}</p></td>
                        <td><p>{{ solution.points }}</p></td>
                    {% else %}
                        <td><p> - </p></td>
                        <td><p> - </p></td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>

    {% endif %}
{% endblock %}