{% extends "my_base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block breadcrumb %}
    <a href="{{ url_for('student.view_courses') }}"><pb> Kursy </pb></a>
    /
    <a href="{{ url_for('student.view_course', course_name = exercise.lesson.course.name) }}"><pb> {{ exercise.lesson.course.name }} </pb></a>
    /
    <a href="{{ url_for('student.view_lesson', lesson_id = exercise.lesson.id) }}"><pb> {{ exercise.lesson.name }} </pb></a>
    /
    <a href="{{ url_for('student.view_exercise', exercise_id = exercise.id) }}"><pb> {{ exercise.name }} </pb></a>
{% endblock %}

{% block app_content %}
    <h2>{{ exercise.name }}</h2>
    <hr>
    <h1>{{ exercise.content|safe }}</h1>
    <h1>Maksymalna liczba prób: {{ exercise.max_attempts }}</h1>
    <h1>Termin przesłania zadania: {{ exercise.end_date }}</h1>
    <h1>Odstęp pomiędzy wysyłaniem zadań: {{ exercise.interval }}s</h1>
    <hr>
    {% if send_solution %}
        <div class="row">
            <div class="col-md-4">
                {{ wtf.quick_form(form, button_map={'submit_button': 'primary'}) }}
            </div>
        </div>
        <hr>
    {% endif %}
        {% include "student/solutionlist.html" %}
{% endblock %}