{% extends "base.html" %}
{% block breadcrumb %}
    <a href="{{ url_for('student.view_courses') }}"> Kursy </a>
    /
    <a href="{{ url_for('student.view_course', course_name = lesson.course.name) }}"> {{ lesson.course.name }} </a>
    /
    <a href="{{ url_for('student.view_lesson', course_name = lesson.course.name, lesson_id = lesson.id) }}"> {{ lesson.name }} </a>
{% endblock %}
{% block app_content %}
    <div><h2>{{ lesson.name }}</h2></div>
    {% if lesson.content_pdf_path is not none %}
    <div><h1>{{ lesson.content_url }}</h1></div>
    {% endif %}
    {% if lesson.content_pdf_path is not none %}
    <div><h1><a
            href="{{ url_for('student.download_content', lesson_id=lesson.id) }}" target="_blank">{{ lesson.content_pdf_path }}</a>
    </h1></div>
    {% endif %}
    {% for exercise in lesson.exercises %}
        <div><p><a
                href="{{ url_for('student.view_exercise', course_name = lesson.course.name, lesson_name = lesson.name, exercise_id = exercise.id ) }}">{{ exercise.name }}</a>
        </p></div>
    {% endfor %}
{% endblock %}