{% extends "pointer_base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block scripts %}
    {{ super() }}
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
{% endblock %}
{% block styles %}
    {{ super() }}
    <link href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css" rel="stylesheet">
{% endblock %}

{% block breadcrumb %}
    <a href="{{ url_for('student.view_solutions') }}"><pb> Rozwiązania </pb></a>
{% endblock %}
{% block app_content %}
    <div class="row">
        <div class="col-md-4">
            {{ wtf.quick_form(form, button_map={'submit': 'primary'}) }}
        </div>
    </div>
    {% include "student/solutionlist.html" %}

{% endblock %}
