{% if solutions|length > 0 %}
    <table id="paginatedTable" class="display" style="width:100%">
        <thead>
        <th>Plik</th>
        <th>Kurs</th>
        <th>Lekcja</th>
        <th>Ćwiczenie</th>
        <th>Data wysłania</th>
        <th>Status</th>
        <th>Punkty</th>
        <th></th>
        </thead>
        <tbody>
        {% for solution in solutions %}
            <tr style="cursor: pointer">
                <td><p><a href="{{ url_for('student.download_solution', solution_id=solution.id) }}"
                          target="_blank">{{ solution.file_path }}</a></p></td>
                <td><p><a href="{{ url_for('student.view_course', course_name=solution.get_course().name) }}"
                          target="_blank">{{ solution.get_course().name }}</a></p></td>
                <td><p><a href="{{ url_for('student.view_lesson', lesson_id=solution.exercise.lesson.id) }}"
                          target="_blank">{{ solution.exercise.lesson.name }}</a></p></td>
                <td><p><a href="{{ url_for('student.view_exercise', exercise_id=solution.exercise.id) }}"
                          target="_blank">{{ solution.exercise.name }}</a></p></td>
                <td><p>{{ solution.send_date.strftime('%Y-%m-%d %H:%M:%S') }}</p></td>
                <td><p>{{ solution.get_student_status() }}</p></td>
                <td><p>{{ solution.get_student_points() }}</p></td>
                <td>
                    <a type="button"
                       href='{{ url_for('student.view_solution', solution_id = solution.id) }}'
                       class="btn btn-success btn-sm">+
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <script src="{{ url_for('static', filename='js/paginated_table.js') }}"></script>
{% endif %}