{% extends "my_base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block breadcrumb %}
    <a href="{{ url_for('student.view_statistics') }}">
        <pb>Statystyki</pb>
    </a>
{% endblock %}
{% block app_content %}
    <table class="table">
        <thead>
        <th>Kurs</th>
        <th>Punkty</th>
        <th>Możliwe punkty</th>
        <th>Procentowo</th>
        <th></th>
        </thead>
        <tbody>
        {% for statistics in statisticsList %}
            {% set idx = loop.index %}
            <tr class='{{ idx }}'>
                <td><a href="{{ url_for('student.view_course', course_name=statistics.course_name) }}">
                    {{ statistics.course_name }}
                </a></td>
                <td><p>{{ statistics.user_points }}</p></td>
                <td><p>{{ statistics.course_points }}</p></td>
                <td><p>{{ statistics.get_percent_value() }}%</p></td>
                <td>
                    <button
                            onclick="showDetails($(this).parent().parent().attr('class'))"
                            class="btn btn-success btn-sm">+
                    </button>
                </td>
            </tr>
            {% for student_exercise in statistics.student_exercises %}
                <tr class='{{ idx }}details'
                    style="display:none; background-color: #FFEBCD">
                    <td><a href="{{ url_for('student.view_exercise', exercise_id=student_exercise.exercise.id) }}">
                        {{ student_exercise.exercise.name }}</a></td>
                    <td>{{ student_exercise.points }}</td>
                    <td>{{ student_exercise.max_points }}</td>
                    <td>{{ student_exercise.get_percent_value() }}%</td>
                    <td></td>
                </tr>
            {% endfor %}
        {% endfor %}
        </tbody>
    </table>
    <script src="{{ url_for('static', filename='js/statistic_details.js') }}"></script>
{% endblock %}
