{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block breadcrumb %}
    <a href="{{ url_for('admin.view_solutions') }}"> Kursy </a>
{% endblock %}
{% block app_content %}
        <table class="table">
            <thead>
            <th>Kurs</th>
            <th>Punkty</th>
            <th>Możliwe punkty</th>
            <th>Procentowo</th>
            </thead>
            <tbody>
            {% for statistics in statisticsList %}
                <tr>
                    <td><p>{{ statistics.course_name }}</p></td>
                    <td><p>{{ statistics.user_points }}</p></td>
                    <td><p>{{ statistics.course_points }}</p></td>
                    <td><p>{{ statistics.get_percent_value() }}%</p></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
{% endblock %}
