{% extends "my_base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block breadcrumb %}
    <a href="{{ url_for('auth.login') }}">
        <pb>Logowanie</pb>
    </a>
{% endblock %}
{% block app_content %}
    <div class="row">
        <div class="col-md-4">
            {{ wtf.quick_form(form, button_map={'submit': 'success'}) }}
        </div>
    </div>
    <br>
    <button type="button"
            onclick="window.location.href='{{ url_for('auth.activate') }}'"
            class="btn btn-info">Wyślij link aktywacyjny
    </button>
    <button type="button"
            onclick="window.location.href='{{ url_for('auth.send_reset') }}'"
            class="btn btn-info">Zresetuj hasło
    </button>

{% endblock %}