{% extends "pointer_base.html" %}
{% block breadcrumb %}
    <a href="{{ url_for('teacher.view_courses') }}">
        <pb> Kursy</pb>
    </a>
{% endblock %}
{% block app_content %}
    <h2>Kursy</h2>
    <hr>
        <ul>
        {% for course in courses %}
            <li>
                <h1><a href="{{ url_for('teacher.view_course', course_name = course.name ) }}">{{ course.name }}</a>
                </h1>
            </li>
        {% endfor %}
        </ul>
    {% if courses|length >0 %}
    <hr>
    {% endif %}
    <div class="bottom_div">
        <button type="button" onclick="window.location.href='{{ url_for('teacher.add_course') }}'"
                class="btn btn-success btn-lg">Dodaj kurs
        </button>
    </div>
{% endblock %}