{% extends "my_base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block breadcrumb %}
    <a href="{{ url_for('teacher.view_courses') }}">
        <pb>Kursy</pb>
    </a>
    /
    <a href="{{ url_for('teacher.view_course', course_name = exercise.lesson.course.name) }}">
        <pb> {{ exercise.get_course().name }} </pb>
    </a>
    /
    <a href="{{ url_for('teacher.view_lesson', lesson_id = exercise.lesson.id) }}">
        <pb> {{ exercise.lesson.name }} </pb>
    </a>
    /
    <a href="{{ url_for('teacher.view_exercise', exercise_id = exercise.id) }}">
        <pb> {{ exercise.name }} </pb>
    </a>
    /
    <a href="{{ url_for('teacher.edit_exercise', exercise_id = exercise.id) }}">
        <pb>Edytuj zadanie</pb>
    </a>
{% endblock %}
{% block app_content %}
    <form action="" method="post" enctype="multipart/form-data" role="form">
        {{ form.csrf_token() }}
        <textarea id="summernote" name="editordata">{{ exercise.content }}</textarea>
        {{ wtf.form_field(form.max_attempts, class='form-control') }}
        {{ wtf.form_field(form.end_date, class='form-control') }}
        {{ wtf.form_field(form.end_time, class='form-control', value=exercise.get_end_time()) }}
        {{ wtf.form_field(form.compile_command, class='form-control') }}
        {{ wtf.form_field(form.run_command, class='form-control') }}
        {{ wtf.form_field(form.program_name, class='form-control') }}
        {{ wtf.form_field(form.timeout, class='form-control') }}
        {{ wtf.form_field(form.interval, class='form-control') }}
        {{ wtf.form_field(form.submit_button, class='btn btn-success') }}
    </form>
    <script src="{{ url_for('static', filename='js/load_summernote.js') }}"></script>
{% endblock %}

