{% extends "pointer_base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block scripts %}
    {{ super() }}
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
{% endblock %}
{% block styles %}
    {{ super() }}
    <link href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css" rel="stylesheet">
{% endblock %}
{% block breadcrumb %}
    <a href="{{ url_for('teacher.view_courses') }}">
        <pb> Kursy</pb>
    </a>
    /
    <a href="{{ url_for('teacher.view_course', course_name = exercise.lesson.course.name) }}">
        <pb> {{ exercise.lesson.course.name }} </pb>
    </a>
    /
    <a href="{{ url_for('teacher.view_lesson', lesson_id = exercise.lesson.id) }}">
        <pb> {{ exercise.lesson.name }} </pb>
    </a>
    /
    <a href="{{ url_for('teacher.view_exercise', exercise_id = exercise.id) }}">
        <pb> {{ exercise.name }} </pb>
    </a>

{% endblock %}
{% block app_content %}
    <h2>{{ exercise.name }}</h2>
    <hr>
    {{ exercise.content|safe }}
    <hr>
    <h1>Termin: {{ exercise.end_date }}</h1>
    <h1>Maksymalna liczba punktów: {{ exercise.get_max_points() }}</h1>
    <h1>Maksymalna liczba prób: {{ exercise.max_attempts }}</h1>
    {% if exercise.compile_command|length > 1 %}
        <h1>Kompilacja: {{ exercise.compile_command }}</h1>
    {% endif %}
    <h1>Uruchamianie: {{ exercise.run_command }}</h1>
    <hr>
    <button onclick="toggleExerciseDiv()" class="btn btn-info">Moje rozwiązania</button>
    <div id="toggle_div">
        <div class="row">
            <div class="col-md-4">
                {{ wtf.quick_form(form, button_map={'submit_button': 'primary'}) }}
            </div>
        </div>
        {% include "teacher/solutionlist.html" %}

    </div>
    <hr>
    <div class="bottom_div">
        {% if exercise.is_published %}
            <button type="button"
                    onclick="window.location.href='{{ url_for('teacher.activate_exercise', exercise_id = exercise.id ) }}'"
                    class="btn btn-dark btn-lg">Dezaktywuj
            </button>
        {% else %}
            <button type="button"
                    onclick="window.location.href='{{ url_for('teacher.activate_exercise', exercise_id = exercise.id ) }}'"
                    class="btn btn-success btn-lg">Opublikuj
            </button>
        {% endif %}
        <button type="button"
                onclick="window.location.href='{{ url_for('teacher.view_tests', exercise_id = exercise.id ) }}'"
                class="btn btn-success btn-lg">Testy
        </button>
        <button type="button"
                onclick="window.location.href='{{ url_for('teacher.view_solutions', course = exercise.get_course().name, lesson = exercise.lesson.name, exercise=exercise.name) }}'"
                class="btn btn-primary btn-lg">Rozwiązania
        </button>
        <button type="button"
                onclick="window.location.href='{{ url_for('teacher.edit_exercise', exercise_id = exercise.id) }}'"
                class="btn btn-info btn-lg">Edytuj
        </button>
    </div>
    <script>
        function toggleExerciseDiv() {
            var x = document.getElementById("toggle_div");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }
    </script>
{% endblock %}