{% extends "pointer_base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block breadcrumb %}
    <a href="{{ url_for('teacher.view_solutions') }}">
        <pb> Rozwiązania</pb>
    </a>
    /
    <a href="{{ url_for('teacher.view_exercise', exercise_id = solution.exercise.id) }}">
        <pb> {{ solution.exercise.name }}</pb>
    </a>
    /
    <a href="{{ url_for('teacher.view_solution', solution_id=solution.id) }}">
        <pb> {{ solution.author.email }} - {{ solution.attempt }}</pb>
    </a>
{% endblock %}
{% block app_content %}
    <form action="" method="post" class="form" role="form">
        {{ form.csrf_token() }}
        {{ wtf.form_field(form.email, class='form-control') }}
        <h1><a href="{{ url_for('teacher.download', id=solution.id, domain='solution', type='solution') }}"
               target="_blank">{{ solution.file_path }}</a></h1>
        {% if solution.output_file != None %}
            <h1><a href="{{ url_for('teacher.download', id=solution.id, domain='solution', type='output') }}"
                   target="_blank">{{ solution.output_file }}</a></h1>
        {% endif %}
        <h1>Oddano: {{ solution.get_str_send_date() }}</h1>
        <div style="width: 10%; display: inline-block">
            {{ wtf.form_field(form.points, class='form-control') }}
        </div>
        {{ wtf.form_field(form.submit_points, class='btn btn-info') }}
        <p>Maksymalna ilość punktów: {{ solution.exercise.get_max_points() }}</p>
        {{ wtf.form_field(form.status, class='form-control') }}
        {% if solution.error_msg != None %}
            {{ wtf.form_field(form.error_msg, class='form-control') }}
        {% endif %}
        {{ wtf.form_field(form.comment, class='form-control') }}
        {{ wtf.form_field(form.submit_comment, class='btn btn-info') }}
        {{ wtf.form_field(form.attempt, class='form-control') }}
        {{ wtf.form_field(form.ip_address, class='form-control') }}
        {{ wtf.form_field(form.os_info, class='form-control') }}
    </form>
    {% if solution.status != solution.Status['APPROVED'] %}
        <button type="button"
                onclick="window.location.href='{{ url_for('teacher.approve_solution', solution_id = solution.id ) }}'"
                class="btn  btn-success">Zaakceptuj
        </button>
    {% endif %}
    {% if solution.status != solution.Status['REFUSED'] %}
        <button type="button"
                onclick="window.location.href='{{ url_for('teacher.decline_solution', solution_id = solution.id) }}'"
                class="btn btn-danger">Odrzuć
        </button>
    {% endif %}
    {% if solution.tasks_finished() %}
        <button type="button"
                onclick="window.location.href='{{ url_for('teacher.reprocess_solution', solution_id = solution.id ) }}'"
                class="btn  btn-primary">Przetestuj ponownie
        </button>
    {% endif %}
{% endblock %}