{% extends "my_base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block breadcrumb %}
    <a href="{{ url_for('admin.view_courses') }}">
        <pb>Kursy</pb>
    </a>
    /
    <a href="{{ url_for('admin.view_course', course_name = lesson.course.name) }}">
        <pb> {{ lesson.course.name }} </pb>
    </a>
    /
    <a href="{{ url_for('admin.view_lesson', lesson_id = lesson.id) }}">
        <pb> {{ lesson.name }} </pb>
    </a>
    /
    <a href="{{ url_for('admin.add_exercise', course_name = lesson.course.name, lesson_id = lesson.id) }}">
        <pb>Dodaj zadanie</pb>
    </a>
{% endblock %}
{% block app_content %}
    <form action="" method="post" enctype="multipart/form-data" role="form">
        {{ form.csrf_token() }}
        {{ wtf.form_field(form.name, class='form-control') }}
        {{ wtf.form_field(form.max_attempts, class='form-control') }}
        <textarea id="summernote" name="editordata"></textarea>
        {{ wtf.form_field(form.end_date, class='form-control') }}
        {{ wtf.form_field(form.end_time, class='form-control') }}
        {{ wtf.form_field(form.compile_command, class='form-control') }}
        {{ wtf.form_field(form.run_command, class='form-control') }}
        {{ wtf.form_field(form.output, class='form-control') }}
        {{ wtf.form_field(form.input, class='form-control') }}
        {{ wtf.form_field(form.max_points, class='form-control') }}
        {{ wtf.form_field(form.program_name, class='form-control') }}
        {{ wtf.form_field(form.timeout, class='form-control') }}
        {{ wtf.form_field(form.interval, class='form-control') }}
        {{ wtf.form_field(form.submit_button, class='btn btn-success') }}
    </form>
    <script src="{{ url_for('static', filename='js/load_summernote.js') }}"></script>
{% endblock %}

