{% extends "my_base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block breadcrumb %}
    <a href="{{ url_for('admin.view_courses') }}">
        <pb> Kursy</pb>
    </a>
    /
    <a href="{{ url_for('admin.view_course', course_name = course.name) }}">
        <pb> {{ course.name }} </pb>
    </a>
    /
    <a href="{{ url_for('admin.add_lesson', course_name = course.name) }}">
        <pb>Dodaj lekcję</pb>
    </a>
{% endblock %}
{% block app_content %}

    <form action="" method="post" enctype="multipart/form-data" class="form" role="form">
        {{ form.csrf_token() }}
        {{ wtf.form_field(form.name, class='form-control') }}
        <textarea id="summernote" name="editordata"></textarea>
        {{ form.pdf_content() }}
        <hr>
        {{ wtf.form_field(form.submit_button, class='btn btn-success') }}
    </form>
    <script src="{{ url_for('static', filename='js/load_summernote.js') }}"></script>
{% endblock %}