{% extends "my_base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block breadcrumb %}
    <a href="{{ url_for('admin.view_courses') }}">
        <pb> Kursy</pb>
    </a>
    /
    <a href="{{ url_for('admin.view_course', course_name = course.name) }}">
        <pb> {{ course.name }} </pb>
    </a>
{% endblock %}
{% block app_content %}
    <h2>{{ course.name }}</h2>
    <hr>
    <div class="container_content">
        {% for lesson in course.lessons %}
            <div><h1><a
                    href="{{ url_for('admin.view_lesson',lesson_name = lesson.name) }}">{{ lesson.name }}</a>
            </h1></div>
        {% endfor %}
    <hr>
    <h1>Link do zapisu:</h1>
    <p>{{ url_for('auth.append_course', link = course.link, _external=True) }}</p>

    <div class="bottom_div">
        <button type="button"
                onclick="window.location.href='{{ url_for('admin.add_lesson', course_name = course.name ) }}'"
                class="btn btn-success btn-lg">Dodaj lekcję
        </button>
        <button type="button"
                onclick="window.location.href='{{ url_for('admin.add_student', course_name = course.name ) }}'"
                class="btn btn-info btn-lg">Dodaj studenta
        </button>
        {% if course.is_open %}
            <button type="button"
                    onclick="window.location.href='{{ url_for('admin.change_open_course', course_id = course.id ) }}'"
                    class="btn btn-warning btn-lg">Zablokuj zapis
            </button>
        {% else %}
            <button type="button"
                    onclick="window.location.href='{{ url_for('admin.change_open_course', course_id = course.id ) }}'"
                    class="btn btn-warning btn-lg">Aktywuj zapis
            </button>
        {% endif %}
    </div>
{% endblock %}