{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block breadcrumb %}
    <a href="{{ url_for('admin.view_courses') }}">
        <pb> Kursy</pb>
    </a>
    /
    <a href="{{ url_for('admin.view_course', course_name = course.name) }}">
        <pb> {{ course.name }} </pb>
    </a>
{% endblock %}
{% block app_content %}
    <h2>{{ course.name }}</h2>
    <hr>
    {% for lesson in course.lessons %}
        <div><h1><a
                href="{{ url_for('admin.view_lesson',lesson_name = lesson.name) }}">{{ lesson.name }}</a>
        </h1></div>
    {% endfor %}
    <hr>
    <button type="button" onclick="window.location.href='{{ url_for('admin.add_lesson', course_name = course.name ) }}'" class="btn btn-success">Dodaj lekcję</button>
    <button type="button" onclick="window.location.href='{{ url_for('admin.add_student', course_name = course.name ) }}'" class="btn btn-info">Dodaj studenta</button>
    {% if course.is_open %}
        <button type="button" onclick="window.location.href='{{ url_for('admin.change_open_course', course_id = course.id ) }}'" class="btn btn-secondary">Zablokuj zapis</button>
    {% else %}
        <button type="button" onclick="window.location.href='{{ url_for('admin.change_open_course', course_id = course.id ) }}'" class="btn btn-secondary">Aktywuj zapis</button>
    {% endif %}
    <p>{{ url_for('auth.append_course', link = course.link, _external=True) }}</p>
{% endblock %}