{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block breadcrumb %}
    <a href="{{ url_for('admin.view_courses') }}">
        <pb> Kursy</pb>
    </a>
    /
    <a href="{{ url_for('admin.view_course', course_name = lesson.course.name) }}">
        <pb> {{ lesson.course.name }} </pb>
    </a>
    /
    <a href="{{ url_for('admin.view_lesson', lesson_name = lesson.name) }}">
        <pb> {{ lesson.name }} </pb>
    </a>
    /
    <a href="{{ url_for('admin.edit_lesson', lesson_id = lesson.id) }}">
        <pb>Edytuj lekcję</pb>
    </a>
{% endblock %}
{% block app_content %}
    <form action="" method="post" enctype="multipart/form-data" class="form" role="form">
        {{ form.csrf_token() }}
        {{ wtf.form_field(form.text_content, class='form-control') }}
        {{ form.pdf_content() }}
        {{ form.submit_button() }}
    </form>
{% endblock %}