{% extends "my_base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block breadcrumb %}
    <a href="{{ url_for('admin.view_courses') }}">
        <pb> Kursy</pb>
    </a>
    /
    <a href="{{ url_for('admin.view_course', course_name = exercise.lesson.course.name) }}">
        <pb> {{ exercise.lesson.course.name }} </pb>
    </a>
    /
    <a href="{{ url_for('admin.view_lesson', lesson_id = exercise.lesson.id) }}">
        <pb> {{ exercise.lesson.name }} </pb>
    </a>
    /
    <a href="{{ url_for('admin.view_exercise', exercise_id = exercise.id) }}">
        <pb> {{ exercise.name }} </pb>
    </a>

{% endblock %}
{% block app_content %}
    <h2>{{ exercise.name }}</h2>
    <hr>
    <h1>{{ exercise.content|safe }}</h1>
    <h1>Termin: {{ exercise.end_date }}</h1>
    <h1>Maksymalna liczba punktów: {{ exercise.get_max_points() }}</h1>
    <h1>Maksymalna liczba podejść: {{ exercise.max_attempts }}</h1>
    <button onclick="myFunction()" class="btn btn-info">Moje rozwiązania</button>
    <div id="myDIV">
        <div class="row">
            <div class="col-md-4">
                {{ wtf.quick_form(form, button_map={'submit_button': 'primary'}) }}
            </div>
        </div>
        <hr>
        {% include "admin/solutionlist.html" %}

    </div>
    <hr>
    <div class="bottom_div">
        {% if exercise.is_published %}
            <button type="button"
                    onclick="window.location.href='{{ url_for('admin.activate_exercise', exercise_id = exercise.id ) }}'"
                    class="btn btn-dark btn-lg">Dezaktywuj
            </button>
        {% else %}
            <button type="button"
                    onclick="window.location.href='{{ url_for('admin.activate_exercise', exercise_id = exercise.id ) }}'"
                    class="btn btn-success btn-lg">Opublikuj
            </button>
        {% endif %}
        <button type="button"
                onclick="window.location.href='{{ url_for('admin.view_tests', exercise_id = exercise.id ) }}'"
                class="btn btn-success btn-lg">Testy
        </button>
        <button type="button"
                onclick="window.location.href='{{ url_for('admin.view_solutions', course = exercise.get_course().name, lesson = exercise.lesson.name, exercise=exercise.name) }}'"
                class="btn btn-primary btn-lg">Rozwiązania
        </button>
        <button type="button"
                onclick="window.location.href='{{ url_for('admin.edit_exercise', exercise_id = exercise.id) }}'"
                class="btn btn-info btn-lg">Edytuj
        </button>
    </div>
    <script>
        function myFunction() {
            var x = document.getElementById("myDIV");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }
    </script>
{% endblock %}