{% extends "my_base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block breadcrumb %}
    <a href="{{ url_for('admin.view_solutions') }}">
        <pb> Rozwiązania</pb>
    </a>
{% endblock %}
{% block app_content %}
    <form action="" method="post" class="form" role="form">
        {{ form.csrf_token() }}
        {{ wtf.form_field(form.course, class='form-control') }}
        {{ wtf.form_field(form.lesson, class='form-control') }}
        {{ wtf.form_field(form.exercise, class='form-control') }}
        {{ wtf.form_field(form.status, class='form-control') }}
        {{ wtf.form_field(form.name, class='form-control') }}
        {{ wtf.form_field(form.surname, class='form-control') }}
        {{ wtf.form_field(form.points_from, class='form-control') }}
        {{ wtf.form_field(form.points_to, class='form-control') }}
        {{ wtf.form_field(form.submit, class='btn btn-primary') }}
    </form>
    <hr>
    {% set solution_ids = [] %}
    {% if solutions|length > 0 %}
        <table id="paginatedTable" class="display" style="width:100%">
            <thead>
            <th>Autor</th>
            <th>Kurs</th>
            <th>Lekcja</th>
            <th>Ćwiczenie</th>
            <th>Data wysłania</th>
            <th>Punkty</th>
            <th>IP</th>
            <th>Status</th>
            <th></th>
            </thead>
            <tbody>
            {% for solution in solutions %}
                {% do solution_ids.append(solution.id) %}
                {% if solution.status == solution.Status['APPROVED'] %}
                    <tr style="background-color:#EAFAF1">
                        {% elif solution.status == solution.Status['REFUSED'] %}
                    <tr style="background-color:#FDEDEC">
                        {% else %}
                    <tr>
                {% endif %}
            <td><p>{{ solution.author.email }}</p></td>
            <td><p><a href="{{ url_for('admin.view_course', course_name=solution.get_course().name) }}"
                      target="_blank">{{ solution.get_course().name }}</a></p></td>
            <td><p><a href="{{ url_for('admin.view_lesson', lesson_name=solution.exercise.lesson.name) }}"
                      target="_blank">{{ solution.exercise.lesson.name }}</a></p></td>
            <td><p><a href="{{ url_for('admin.view_exercise', exercise_id=solution.exercise.id) }}"
                      target="_blank">{{ solution.exercise.name }}</a></p></td>
            <td><p>{{ solution.send_date }}</p></td>
            <td><p>{{ solution.points }}</p></td>
            <td><p>{{ solution.ip_address }}</p></td>
            <td><p>{{ solution.status }}</p></td>
            <td><p><a href="{{ url_for('admin.view_solution', solution_id = solution.id) }}"
                      target="_blank"> Edytuj </a></p></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <a href="{{ url_for('admin.export_solutions', ids=solution_ids) }}">
            <pb> CSV</pb>
        </a>
    {% endif %}
    <script>
        $(document).ready(function () {
            $('#paginatedTable').DataTable({
                "dom": 'lrtip',
                "pagingType": "full_numbers",
                "language": {
                    "lengthMenu": "Wyświetl _MENU_ rekordów",
                    "zeroRecords": "Brak odpowiadających rekordów",
                    "search": "Wyszukaj:",
                    "info": "_START_ - _END_ z _TOTAL_ rekordów",
                    "paginate": {
                        "first": "Pierwsza strona",
                        "last": "Ostatnia strona",
                        "next": "Następna",
                        "previous": "Poprzednia"
                    }
                }
            });
        });
    </script>
{% endblock %}