{% extends "my_base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block breadcrumb %}
    <a href="{{ url_for('admin.view_statistics') }}">
        <pb> Statystki</pb>
    </a>
{% endblock %}
{% block app_content %}
    <div class="row">
        <div class="col-md-4">
            {{ wtf.quick_form(form, button_map={'search_button': 'primary'}) }}
        </div>
    </div>
    <br>
    {% if statisticsList|length > 0 %}
        <table class="table">
            <th>Student</th>
            <th>Kurs</th>
            <th>Punkty</th>
            <th>Możliwe punkty</th>
            <th>Procentowo</th>
            </thead>
            <tbody>
            {% for statistics in statisticsList %}
                {% set idx = loop.index %}
                <tr class='{{ idx }}' style="cursor: pointer"
                    onclick="showDetails($(this).attr('class'))">
                    <td><p>{{ statistics.user_email }}</p></td>
                    <td><p>{{ statistics.course_name }}</p></td>
                    <td><p>{{ statistics.user_points }}</p></td>
                    <td><p>{{ statistics.course_points }}</p></td>
                    <td><p>{{ statistics.get_percent_value() }}%</p></td>
                </tr>

                {% if statistics.user_exercises|length > 0 %}
                    {% for user_exercise in statistics.user_exercises %}
                        <tr class='{{ idx }}details'
                            style="display:none; background-color: #FFEBCD">
                            <td>{{ user_exercise.exercise.lesson.name }}</td>
                            <td>{{ user_exercise.exercise.name }}</td>
                            <td>{{ user_exercise.points }}</td>
                            <td>{{ user_exercise.max_points }}</td>
                            <td>{{ user_exercise.get_percent_value() }}%</td>
                        </tr>
                    {% endfor %}
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
        <button type="button"
                onclick="window.location.href='{{ url_for('admin.export_statistics_csv', statistics_info = statistics_info) }}'"
                class="btn btn-primary">Export CSV
        </button>
        <a type="button"
           href='{{ url_for('admin.export_statistics_pdf', statistics_info = statistics_info) }}'
           target="_blank"
           class="btn btn-info">Export PDF
        </a>
        <script>
            function showDetails(param1) {
                var detailClass = param1 + 'details';
                var elems = document.getElementsByClassName(detailClass);
                if (elems[0].style.display === 'none') {
                    for (i = 0; i < elems.length; i++) {
                        elems[i].style.display = 'table-row';
                    }
                } else {
                    for (i = 0; i < elems.length; i++) {
                        elems[i].style.display = 'none';
                    }
                }
            }
        </script>

    {% endif %}

{% endblock %}
