{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block breadcrumb %}
    <a href="{{ url_for('admin.view_statistics') }}"><pb> Statystki </pb></a>
    /
    <a href="{{ url_for('admin.view_statistics_course') }}"><pb> Kurs </pb></a>
{% endblock %}
{% block app_content %}
    <div class="row">
        <div class="col-md-4">
            {{ wtf.quick_form(form, button_map={'search_button': 'primary'}) }}
        </div>
    </div>
    {% include "admin/statistics_list.html" %}

{% endblock %}
