{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block breadcrumb %}
    <a href="{{ url_for('admin.view_courses') }}"><pb> Kursy </pb></a>
    /
    <a href="{{ url_for('admin.view_course', course_name = exercise.lesson.course.name) }}"><pb> {{ exercise.lesson.course.name }} </pb></a>
    /
    <a href="{{ url_for('admin.view_lesson', course_name = exercise.lesson.course.name, lesson_id = exercise.lesson.id) }}"><pb> {{ exercise.lesson.name }} </pb></a>
    /
    <a href="{{ url_for('admin.view_exercise', exercise_id = exercise.id) }}"><pb> {{ exercise.name }} </pb></a>
{% endblock %}
{% block app_content %}
    <div class="row">
        <div class="col-md-4">
            {{ wtf.quick_form(form, button_map={'submit_button': 'primary'}) }}
        </div>
    </div>
{% endblock %}