{% extends "base.html" %}

{% block app_content %}
    <div><h2>{{ course.name }}</h2></div>
    {% for lesson in course.lessons %}
        <div><h1><a
                href="{{ url_for('admin.view_lesson',course_name = course.name, lesson_id = lesson.id ) }}">{{ lesson.name }}</a>
        </h1></div>
    {% endfor %}
    <div><h1><a href="{{ url_for('admin.add_lesson', course_name = course.name ) }}">Add lesson</a></h1></div>
    <div><h1><a href="{{ url_for('admin.add_student', course_name = course.name ) }}">Add student</a></h1></div>
{% endblock %}