{% extends "base.html" %}

{% block app_content %}
    <div><p>{{ template.name }}</p></div>
    <div><p>{{ template.content }}</p></div>
        <table>
            <thead>
            <th>Plik</th>
            <th>Punkty</th>
            <th>Próba</th>
            <th>Zaakceptowano</th>
            </thead>
            <tbody>
            {% for solution in solutions %}
                <tr>
                    <td><p>{{ solution.file_path }}</p></td>
                    <td><p>{{ solution.points }}</p></td>
                    <td><p>{{ solution.attempt}}</p></td>
                    <td><p>{{ solution.accept }}</p></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
{% endblock %}