{% extends "base.html" %}
{% block breadcrumb %}
    <a href="{{ url_for('admin.view_courses') }}"><pb> Kursy </pb></a>
    /
    <a href="{{ url_for('admin.view_course', course_name = exercise.lesson.course.name) }}"><pb> {{ exercise.lesson.course.name }} </pb></a>
    /
    <a href="{{ url_for('admin.view_lesson', course_name = exercise.lesson.course.name, lesson_id = exercise.lesson.id) }}"><pb> {{ exercise.lesson.name }} </pb></a>
    /
    <a href="{{ url_for('admin.view_exercise', exercise_id = exercise.id) }}"><pb> {{ exercise.name }} </pb></a>
{% endblock %}
{% block app_content %}
    <div><h2>{{ exercise.name }}</h2></div>
    <div><h1>{{ exercise.content }}</h1></div>
        <table>
            <thead>
            <th>Plik</th>
            <th>Punkty</th>
            <th>Próba</th>
            <th>Zaakceptowano</th>
            </thead>
            <tbody>
            {% for solution in solutions %}
                <tr>
                    <td><p>{{ solution.file_path }}</p></td>
                    <td><p>{{ solution.points }}</p></td>
                    <td><p>{{ solution.attempt}}</p></td>
                    <td><p>{{ solution.accept }}</p></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
{% endblock %}