{% extends "my_base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block breadcrumb %}
    <a href="{{ url_for('admin.view_exports') }}">
        <pb> Exporty</pb>
    </a>
{% endblock %}
{% block app_content %}
    <table id="paginatedTable" class="display" style="width:100%">
        <thead>
        <th>Plik</th>
        <th>Data</th>
        <th>Format</th>
        </thead>
        <tbody>
        {% for export in exports %}
            <tr style="cursor: pointer">
                <td><p><a href="{{ url_for('admin.download', id=export.id, domain = 'export') }}"
                          target="_blank">{{ export.file_name }}</a></p></td>
                <td><p>{{ export.get_str_generation_date() }}</p></td>
                <td><p>{{ export.type }}</p></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <script src="{{ url_for('static', filename='js/paginated_table.js') }}"></script>
{% endblock %}
