{% extends "base.html" %}
{% block breadcrumb %}
    <a href="{{ url_for('admin.view_courses') }}"><pb> Kursy </pb></a>
    /
    <a href="{{ url_for('admin.view_course', course_name = lesson.course.name) }}"><pb> {{ lesson.course.name }} </pb></a>
    /
    <a href="{{ url_for('admin.view_lesson', course_name = lesson.course.name, lesson_id = lesson.id) }}"><pb> {{ lesson.name }} </pb></a>
{% endblock %}
{% block app_content %}
    <div><h2>{{ lesson.name }}</h2></div>
    <div><h1>{{ lesson.raw_text }}</h1></div>
    <div><h1><a href="{{ lesson.content_url }}">{{ lesson.content_url }}</a></h1></div>
    {% for template in lesson.exercise_templates %}
        <div><h1><a
                href="{{ url_for('admin.view_exercise', template_id = template.id ) }}">{{ template.name }}</a>
        </h1></div>
    {% endfor %}
    <div><h1><a href="{{ url_for('admin.add_exercise', course_name = course.name, lesson_name = lesson.name ) }}">Add exercise</a></h1></div>
{% endblock %}