{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <form action="" method="post" class="form" role="form">
        {{ form.csrf_token() }}
        {{ wtf.form_field(form.email, class='form-control') }}
        {{ wtf.form_field(form.points, class='form-control') }}
        <p><a href="{{ url_for('admin.download_solution', solution_id=solution_id) }}" target="_blank">{{ form.file_path }}</a></p>
        {{ wtf.form_field(form.admin_refused, class='form-control') }}
        {{ wtf.form_field(form.attempt, class='form-control') }}
        {{ wtf.form_field(form.ip_address, class='form-control') }}
        {{ wtf.form_field(form.os_info, class='form-control') }}
        <p><input type=submit>
    </form>
{% endblock %}