{% set solution_ids = [] %}
{% if solutions|length > 0 %}
    <hr>
    <table id="paginatedTable" class="display" style="width:100%">
        <thead>
        <th>Autor</th>
        <th>Kurs</th>
        <th>Lekcja</th>
        <th>Ćwiczenie</th>
        <th>Data wysłania</th>
        <th>Punkty</th>
        <th>IP</th>
        <th>Status</th>
        <th></th>
        </thead>
        <tbody>
        {% for solution in solutions %}
            {% do solution_ids.append(solution.id) %}
            {% if solution.status == solution.Status['APPROVED'] %}
                <tr style="background-color:#EAFAF1">
                    {% elif solution.status == solution.Status['REFUSED'] %}
                <tr style="background-color:#FDEDEC">
                    {% else %}
                <tr>
            {% endif %}
        <td><p>{{ solution.author.email }}</p></td>
        <td><p><a href="{{ url_for('admin.view_course', course_name=solution.get_course().name) }}"
                  target="_blank">{{ solution.get_course().name }}</a></p></td>
        <td><p><a href="{{ url_for('admin.view_lesson', lesson_id=solution.exercise.lesson.id) }}"
                  target="_blank">{{ solution.exercise.lesson.name }}</a></p></td>
        <td><p><a href="{{ url_for('admin.view_exercise', exercise_id=solution.exercise.id) }}"
                  target="_blank">{{ solution.exercise.name }}</a></p></td>
        <td><p>{{ solution.send_date }}</p></td>
        <td><p>{{ solution.points }}</p></td>
        <td><p>{{ solution.ip_address }}</p></td>
        <td><p>{{ solution.status }}</p></td>
        <td>
            <a type="button"
               href='{{ url_for('admin.view_solution', solution_id = solution.id) }}'
               target="_blank"
               class="btn btn-success btn-sm">+
            </a>
        </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <button type="button"
            onclick="window.location.href='{{ url_for('admin.export_solutions_csv', ids=solution_ids) }}'"
            class="btn btn-primary">Export CSV
    </button>
    <a type="button"
       href='{{ url_for('admin.export_solutions_pdf',  ids=solution_ids) }}'
       target="_blank"
       class="btn btn-info">Export PDF
    </a>
{% endif %}
<script src="{{ url_for('static', filename='js/paginated_table.js') }}"></script>
