{% extends "my_base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block breadcrumb %}
    <a href="{{ url_for('teacher.view_statistics') }}">
        <pb> Statystki</pb>
    </a>
{% endblock %}
{% block app_content %}
    <div class="row">
        <div class="col-md-4">
            {{ wtf.quick_form(form, button_map={'search_button': 'primary'}) }}
        </div>
    </div>
    <br>
    {% if statisticsList|length > 0 %}
        <table class="table">
            <th>Student</th>
            <th>Kurs</th>
            <th>Punkty</th>
            <th>Możliwe punkty</th>
            <th>Procentowo</th>
            <th></th>
            </thead>
            <tbody>
            {% for statistics in statisticsList %}
                {% set idx = loop.index %}
                <tr class='{{ idx }}' style="cursor: pointer">
                    <td><p>{{ statistics.user_email }}</p></td>
                    <td>
                        <a href="{{ url_for('teacher.view_course', course_name=statistics.course_name) }}">{{ statistics.course_name }}</a>
                    </td>
                    <td><p>{{ statistics.user_points }}</p></td>
                    <td><p>{{ statistics.course_points }}</p></td>
                    <td><p>{{ statistics.get_percent_value() }}%</p></td>
                    <td>
                        <button
                                onclick="showDetails($(this).parent().parent().attr('class'))"
                                class="btn btn-success btn-sm">+
                        </button>
                    </td>
                </tr>
                {% for student_exercise in statistics.student_exercises %}
                    <tr class='{{ idx }}details'
                        style="display:none; background-color: #FFEBCD">
                        <td><a href="{{ url_for('teacher.view_lesson', lesson_id=student_exercise.exercise.lesson.id) }}">
                            {{ student_exercise.exercise.lesson.name }}</a></td>
                        <td><a href="{{ url_for('teacher.view_exercise', exercise_id=student_exercise.exercise.id) }}">
                            {{ student_exercise.exercise.name }}</a></td>
                        <td>{{ student_exercise.points }}</td>
                        <td>{{ student_exercise.max_points }}</td>
                        <td>{{ student_exercise.get_percent_value() }}%</td>
                        <td></td>
                    </tr>
                {% endfor %}
            {% endfor %}
            </tbody>
        </table>
        <button type="button"
                onclick="window.location.href='{{ url_for('teacher.export_statistics_csv', statistics_info = statistics_info) }}'"
                class="btn btn-primary">Export CSV
        </button>
        <a type="button"
           href='{{ url_for('teacher.export_statistics_pdf', statistics_info = statistics_info) }}'
           target="_blank"
           class="btn btn-info">Export PDF
        </a>
    {% endif %}
    <script src="{{ url_for('static', filename='js/statistic_details.js') }}"></script>
{% endblock %}
