{% extends "my_base.html" %}
{% block breadcrumb %}
    <a href="{{ url_for('student.view_courses') }}"><pb> Kursy </pb></a>
    /
    <a href="{{ url_for('student.view_course', course_name = course.name) }}"><pb> {{ course.name }} </pb></a>
{% endblock %}
{% block app_content %}
    <h2>{{ course.name }}</h2>
    <hr>
    <ul>
    {% for lesson in course.lessons %}
        <li><h1><a href="{{ url_for('student.view_lesson', lesson_id = lesson.id ) }}">{{ lesson.name }}</a></h1></li>
    {% endfor %}
    </ul>
{% endblock %}