    {% if solutions|length > 0 %}
        <table class="table">
            <thead>
            <th>Plik</th>
            <th>Kurs</th>
            <th>Lekcja</th>
            <th>Ćwiczenie</th>
            <th>Data wysłania</th>
            <th>Status</th>
            <th>Punkty</th>
            </thead>
            <tbody>
            {% for solution in solutions %}
                <tr class="pointercurs">
                    <td><p><a href="{{ url_for('student.download_solution', solution_id=solution.id) }}"
                              target="_blank">{{ solution.file_path }}</a></p></td>
                    <td><p><a href="{{ url_for('student.view_course', course_name=solution.get_course().name) }}"
                              target="_blank">{{ solution.get_course().name }}</a></p></td>
                    <td><p><a href="{{ url_for('student.view_lesson', lesson_name=solution.exercise.lesson.name) }}"
                              target="_blank">{{ solution.exercise.lesson.name }}</a></p></td>
                    <td><p><a href="{{ url_for('student.view_exercise', exercise_id=solution.exercise.id) }}"
                              target="_blank">{{ solution.exercise.name }}</a></p></td>
                    <td><p>{{ solution.send_date }}</p></td>
                    {% if solution.exercise.is_finished()%}
                    <td><p>{{ solution.status }}</p></td>
                    <td><p>{{ solution.points }}</p></td>
                    {% else %}
                        {% if solution.status == solution.Status['APPROVED'] or solution.status == solution.Status['REFUSED'] or solution.status == solution.Status['NOT_ACTIVE'] %}
                        <td><p> {{ solution.Status['NOT_ACTIVE'] }} </p></td>
                        {% else %}
                        <td><p>{{ solution.status }}</p></td>
                        {% endif %}
                    <td><p> - </p></td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}