{% extends 'bootstrap/base.html' %}

{% block head %}
    {{ super() }}
    {% block styles %}
        {{ super() }}
        <link href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/pointer_my_main.css') }}">
    {% endblock %}

    {% block scripts %}
        {{ super() }}
        <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>

{#        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>#}
{#        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>#}
        <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
    {% endblock %}
{% endblock %}

{% block title %}
    Pointer
{% endblock %}

{% block html_attribs %}
    lang="en"
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                {% if current_user.is_anonymous %}
                    <a class="navbar-brand"
                       href="{{ url_for('auth.login') }}">Pointer</a>
                {% endif %}
                {% if not current_user.is_anonymous and current_user.is_admin() %}
                    <a class="navbar-brand"
                       href="{{ url_for('admin.view_courses') }}">Pointer</a>
                {% elif not current_user.is_anonymous and current_user.is_student() %}
                    <a class="navbar-brand" href="{{ url_for('student.view_courses') }}">Pointer</a>
                {% elif not current_user.is_anonymous and current_user.is_moderator() %}
                    <a class="navbar-brand" href="{{ url_for('mod.index') }}">Pointer</a>
                {% endif %}
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    {% if not current_user.is_anonymous and current_user.is_admin() %}
                        <li><a href="{{ url_for('admin.view_courses') }}">Kursy</a></li>
                        <li><a href="{{ url_for('admin.view_statistics') }}">Statystyki</a></li>
                        <li><a href="{{ url_for('admin.view_solutions') }}">Rozwiązania</a></li>
                        <li><a href="{{ url_for('admin.view_logins') }}">Logowania</a></li>
                        <li><a href="{{ url_for('admin.view_exports') }}">Pliki</a></li>
                    {% endif %}
                    {% if not current_user.is_anonymous and current_user.is_student() %}
                        <li><a href="{{ url_for('student.view_courses') }}">Kursy</a></li>
                        <li><a href="{{ url_for('student.view_statistics') }}">Statystyki</a></li>
                        <li><a href="{{ url_for('student.view_solutions') }}">Rozwiązania</a></li>
                    {% endif %}
                    {% if not current_user.is_anonymous and current_user.is_moderator() %}
                        <li><a href="{{ url_for('mod.add_domain') }}">Domeny</a></li>
                        <li><a href="{{ url_for('mod.admin_roles') }}">Dodaj administratora</a></li>
                        <li><a href="{{ url_for('mod.student_roles') }}">Usuń administratora</a></li>
                        <li><a href="{{ url_for('mod.view_logins') }}">Logowania</a></li>
                    {% endif %}
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if current_user.is_anonymous %}
                        <li><a href="{{ url_for('auth.register') }}">Rejestracja</a></li>
                        <li><a href="{{ url_for('auth.login') }}">Logowanie</a></li>
                    {% endif %}
                    {% if not current_user.is_anonymous %}
                        {% if current_user.is_admin() %}
                            <li><a href="{{ url_for('admin.view_courses') }}">{{ current_user.email }}</a></li>
                        {% elif current_user.is_student() %}
                            <li><a href="{{ url_for('student.view_courses') }}">{{ current_user.email }}</a></li>
                        {% else %}
                            <li><a href="{{ url_for('mod.add_domain') }}">{{ current_user.email }}</a></li>
                        {% endif %}
                        <li><a href="{{ url_for('auth.change_password') }}">Zmień hasło</a></li>
                        <li><a href="{{ url_for('auth.logout') }}">Wyloguj się</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages(category_filter=["message"]) %}
            {% if messages %}
                <div class="alert alert-info" role="alert">{{ messages[0] }}</div>
            {% endif %}
        {% endwith %}
        {% with errors = get_flashed_messages(category_filter=["error"]) %}
            {% if errors %}
                <div class="alert alert-warning" role="alert">{{ errors[0] }}</div>
            {% endif %}
        {% endwith %}
        <div class="container3">
            {% block breadcrumb %}{% endblock %}
            <hr>
            {% block app_content %}{% endblock %}
        </div>
    </div>
{% endblock %}